.receive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px);
  flex-direction: column;
  .content {
    width: calc(100% - 40px);
    height: calc(100% - 100px);
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 110px;
    padding: 20px;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      height: calc(100% - 1rem);
      .codeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        gap: 2rem;
        .codeInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 2rem;
          .buttonContainer {
            margin: 0 20px;
            height: 50px;
            display: flex;
            align-items: start;
            justify-content: end;
            .button {
              width: auto;
            }
          }
        }
        .titleUnderlined {
          display: block;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 70%;
            height: 5px;
            background: #29845e;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 20px;
            filter: blur(1px);
          }
        }
        .info {
          font-size: 1.2rem;
          font-weight: 500;
          color: #333;
          width: 50%;
          text-align: center;
        }
        .code {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          font-size: 1.5rem;
          font-weight: 900;
          color: #333;
          background: #70ffc1;
          padding: 15px 20px;
          border-radius: 10px;
          cursor: pointer;

          .codeChar {
            font-size: 1.5rem;
            font-weight: 900;
            color: #333;
            background: #70ffc1;
            padding: 5px 10px;
            border-radius: 10px;
            cursor: pointer;

            /* &:hover {
              background: #66a63f;
            } */

            &.divider {
              background: none;
              color: #0f432e;
              font-weight: 900;
              font-size: 2rem;
              padding: 0;
            }

            &.inactive {
              color: #636363;
            }
          }
        }
        .info {
          font-size: 1rem;
          font-weight: 400;
          color: #666;
        }
      }

      .file {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background: #f1f1f182;
        margin: 1.5rem;

        .previewIcon {
          font-size: 4rem;
          color: #999;
        }
        .progressContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.7rem;
          flex-direction: column;
          width: 100%;

          .progress {
            width: calc(100% - 4rem);
          }

          .progressText {
            color: #29845e;
            font-size: 0.8rem;
            font-weight: 600;
          }
        }
        .previewText {
          color: #999;
        }
        .icon {
          font-size: 4rem;
        }
        .fileName {
          font-size: 1.2rem;
          font-weight: 500;
          color: #333;
          text-align: center;
          word-break: break-all;
        }
        .type {
          text-align: center;
          word-break: break-all;
        }
        .size {
          font-size: 1rem;
          font-weight: 400;
          color: #666;
        }

        .uploadedBy {
          .name {
            font-size: 1rem;
            font-weight: 700;
            color: #333;
          }
        }
      }
      .form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        border-radius: 0.5rem;
        .container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 100%;
          gap: 1rem;
          .info {
            font-size: 0.9rem;
            font-weight: 500;
            color: #333;
          }
          .label {
            width: 100%;
            font-weight: 900;
            font-weight: 500;
            color: #333;
            font-size: 1rem;

            .info {
              font-size: 0.8rem;
              font-weight: 400;
              color: #666;
            }
          }
          .input {
            background: none;
            border: 1px dashed #333;
            outline: none;
            padding: 10px;
            border-radius: 0.5rem;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .buttonContainer {
    margin: 0 20px;
    height: 50px;
    display: flex;
    align-items: start;
    justify-content: end;
    width: calc(100% - 40px);
    gap: 1rem;
    .button {
      width: 100%;
      padding: 0.7rem 1.3rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: #fff;
      background: #29845e;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      .icon {
        width: 1.2rem;
        height: 1.2rem;
      }
      &:hover {
        background: #66a63f;
      }
    }
  }
}

@media only screen and (max-width: 728px) {
  .receive {
    justify-content: start;
    .content {
      height: fit-content;
      .grid {
        grid-template-columns: 1fr;
        height: fit-content;
        .codeContainer {
          height: fit-content;
          width: 100%;
          .info {
            width: 100%;
          
          }
          .code {
            .codeChar {
              padding: 3px;
            }
          }
        }
        .file {
          margin: 0;
          height: fit-content;
        }
      }
    }
  }
}