.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(234, 236, 238, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.125);
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    .logo {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      cursor: pointer;

      .image {
        width: auto;
        height: 70%;
        object-fit: cover;
      }
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #222;
      }
    }
    .menuIcon {
      display: none;
    }
    .menu {
      display: flex;
      gap: 1rem;

      .link {
        text-decoration: none;
        color: #222;
        font-size: 1.2rem;
        font-weight: 500;
        transition: all 0.3s ease;
        border-right: 1px solid black;
        padding-right: 20px;
        &:hover {
          color: #29845e;
        }
      }
    }
  }
}

@media only screen and (max-width: 728px) {
  .topbar {
    padding: 10px 20px;
    .container {
      .menuIcon {
        display: block;
        .icon {
          width: 30px;
          height: 30px;
        }
      }
      .menu {
        position: fixed;
        top: 70px;
        overflow: hidden;
        left: 0;
        display: flex;
        z-index: 9;
        background: #6edbae;
        flex-direction: column;
        width: 100%;
        height: 0;
        padding: 0;
        align-items: center;

        .link {
          border-right: none;
          padding: 10px 0;
        }
        &.open {
          height: auto;
          padding: 30px 20px;
        }
      }
    }
  }
}
